* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@import "./Components/Header/Header.scss";
@import "./Components/Main/Home/Home.scss";
@import "./Components/Main/We/We.scss";
@import "./Components/Main/Programs/Programs.scss";
@import "./Components/Main/Price/Price.scss";
@import "./Components/Main/Benefit/Benefit.scss";
@import "./Components/Main/Companye/Companye.scss";
@import "./Components/Footer/Footer.scss";
@import "./Components/Main/Follow/Follow.scss";

@import "./Components/Admin/AdminPanel.scss";
@import "./Components/Admin/Admin.scss";
@import "./Components/Admin/AdminPage/Chat/Chat.scss";

@import "./Components/Admin/AdminPage/Analitic/scss/Analitic.scss";
@import "./Components/Admin/AdminPage/Analitic/scss/ClientIncome.scss";
@import "./Components/Admin/AdminPage/Analitic/scss/Sport.scss";
@import "./Components/Admin/AdminPage/Analitic/scss/StudentsComparison.scss";
@import "./Components/Admin/AdminPage/Analitic/scss/TrainerAnalytics.scss";

@import "./Components/Admin/AdminPage/Product/scss/AddProduct.scss";
@import "./Components/Admin/AdminPage/Product/scss/ProductSell.scss";
@import "./Components/Admin/AdminPage/Product/scss/ProductsList.scss";
@import "./Components/Admin/AdminPage/Product/scss/ProductTabs.scss";
@import "./Components/Admin/AdminPage/Product/scss/SoldProducts.scss";

@import "./Components/Admin/AdminPage/ManagerClient/scss/AddClient.scss";
@import "./Components/Admin/AdminPage/ManagerClient/scss/AdminManager.scss";
@import "./Components/Admin/AdminPage/ManagerClient/scss/ClientFilter.scss";
@import "./Components/Admin/AdminPage/ManagerClient/scss/ClientsTable.scss";
@import "./Components/Admin/AdminPage/ManagerClient/scss/ClientUpdate.scss";
@import "./Components/Admin/AdminPage/ManagerClient/scss/ExpiringClients.scss";
@import "./Components/Admin/AdminPage/ManagerClient/scss/ClientStatus.scss";
@import "./Components/Admin/AdminPage/ManagerClient/scss/client-list.scss";